<div class="container-fluid position-absolute mt-4">
  <h2 class="text-center font-weight-bold">Contact</h2>
  <div class="row d-flex justify-content-center">
    <div class="col-xs">
      <div class="card shadow-sm alert alert-warning">
        <div class="card-body">
          <h5 class="card-title text-center font-weight-bold"><span class="badge badge-danger">Email</span></h5>
          <h6 class="card-title text-center font-weight-bold">bouinten@yahoo.fr</h6>
        </div>
      </div>
    </div>
  </div>
</div>
