<div class="container-fluid position-absolute mt-4">
  <h2 class="text-center font-weight-bold">Our team</h2>
  <div class="row d-flex justify-content-center">
    <div class="col-xs">
      <div class="card shadow-sm alert alert-warning">
        <div class="d-flex justify-content-center">
          <div>
            <%= image_tag("team/identity-photo.jpg", class: "img-circular", height: "130px", width: "130px") %>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">Brahim Ouinten</h5>
            <h5 class="card-title text-center"><span class="badge badge-danger">Developer</span></h5>
            <p class="card-text text-center font-weight-bold">Sailor at THP - Spring 2020 session</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>