<div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-4 bg-light">
  <h2 class="text-center font-weight-bold">Welcome <%= @user %> !</h2>
  <p class="text-center">This is our gossip website. Here you can post, comment and show gossips.</p>
  <%= link_to "Click to view our beautiful gossips !", root_path, style: 'text-decoration: none' %>
</div>